@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

input[type="number"], select {
	width: 60px;
	height: 40px;
	font-size: 20px;
}

.App {
	background-color: #244E5E;
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	font-family: 'Dela Gothic One', cursive;
}

.btn {
	background-color: #ad0000;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 8px;
	font-weight: bold;
}

.btn-large {
	width: 100%;
	min-width: 200px;
	height: 50px;
	font-size: 20px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.hint{
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 10px;
}